.algolia-autocomplete {
	width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
	width: 100%;
	font-family: Circe;
	font-size: 1.07em;
}
.algolia-autocomplete .aa-hint {
	color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
	margin-left: 16px;
	width: 95%;
	background-color: rgb(236, 237, 239, 1);
	padding-top: 8px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
	cursor: pointer;
	padding: 10px;
	color: #42415E;
	font-family: Circe;
	font-size: 1.07em;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
	background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
	font-weight: bold;
	font-style: normal;
}